/004 - Month 4/Week 14/API/venv1/
/004 - Month 4/Week 14/Docker/Docker-2/
/004 - Month 4/Week 13/geckodriver.log
!/004 - Month 4/Week 14/API/1.env
__pycache__
.env
!/004 - Month 4/Week 14/API/app/mainbackup.py
apikeys.py

/007 - Month 7/Week 21/Week 21/*

